build/
.dart_tool/
.git/
.idea/
*.iml
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.log
.DS_Store
android/
ios/
linux/
macos/
windows/
test/
README.md
*.md
.gitignore
devtools_options.yaml
